textarea {
    min-height: 400px;
}
#emails-view > div{
    border: green solid 2px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
}
span{
    margin: 10px;
}
.archive{
    margin-left:auto;
}
.archive-button{
    padding: 5px;
    background-color: white;
    color: green;
    outline: none;
    border: green solid 1px;
    border-radius: 5px;
}
.read-email{
    background-color: gray;
}